//--Colors
$color-orange:              #ff7200 !default;
$color-orange-hover:		#ffb541 !default;
$color-blue:				#0064d2 !default;
$color-blue-hover:          #337ab7 !default;
$color-green:				#8cd931 !default;
$color-red:					#f20000 !default;
$color-yellow:				#fdcb04 !default;
$color-white:				#ffffff !default;
$color-peach:               #f15c59 !default;
$color-grey:				#dddddd !default;
$color-grey-darker:			#888888 !default;
$color-grey-darkest:		#222222 !default;
$color-grey-darkest-rgb-red: 34;
$color-grey-darkest-rgb-green: 34;
$color-grey-darkest-rgb-blue: 34;
$color-grey-lighter: #f7f7f7 !default;
$color-grey-lightest: #ffffff !default;
$color-grey-almost-light: #dee2ee;
$color-grey-blue: #8a93a7;

//----Colors Partner Product SCSS
$color-product-bg-flight:		#85cff1;
$color-product-bg-hotel:		#98d0a2;
$color-product-bg-train:		#f8c87e;
$color-product-bg-event:		#98b0db;
$color-product-bg-car:			#f09a7c;

$color-product-txt-flight:		#3c79b4;
$color-product-txt-hotel:		#2d7253;
$color-product-txt-train:		#ec751f;
$color-product-txt-event:		#6865b0;
$color-product-txt-car:			#ec751f;

$primary: #0064d2;
$highlight: #ff7200;
$highlight-hover:#ffb541;
$text-dark: #000;
$text-light: #fff;
$text-mute: #b0b0b0;

// Flight
$color-flight-icon-circle: #fedd00;
$color-flight-text-depart: #666666;
$color-flight-line: #979797;
$color-flight-oval: #bbbbbb;
$color-flight-tabs: #009aff;
$color-flight-smartontrip: #1694f6;
$color-yellow-gradient: #ffab00;
$color-yellow-tixpoint: #f9b231;
$color-bar-skyblue: #7ccbff;
$color-bar-bestprice: #14ac33;
$color-bar-disableday: #eeeeee;
$color-bar-disablebestprice: #aaaaaa;
$color-blue-gradient: #53a0fd;
$color-blue-switch: #b7e2ff;
$color-blue-selected: #EEF8FF;
$color-green-box: #54b149;
$color-yellow-v3-gradient : #ffee7b;

// Calendar Flight
$border-color: #c5c5c5;
$date-highlight-hover: #ffead9;
$new-date-highlight-hover: #fff8c7;
$highlight-color: #fefbe5;

$color-red-error: #c31818;

$color-v3-title: #35405a;
$color-v3-subTitle: #8a93a7;
$color-v3-navy-blue: #58627a;
$color-v3-grey: #eff1f7;
$color-v3-disable-date: #c6cbda;
$color-v3-bg-search-list: #f5f6fa;
$color-details-info: #f2f8ff;
$color-v3-best-price: #00a474;
$color-v3-worry-free: #0ab21b;

$color-disabled: #dee2ee;
$color-red-date: #ff555d;
$color-new-circle-icon: #ffdf00;

$color-block-content: #fbfcfe;
$color-blue-sky: #f2f7fd;
