@import './vendor/normalize.css';
@import './fonts';
@import './colors';
@import './variable';

* {
  font-family: $font-family-main;
  box-sizing: border-box;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transition: all 500ms ease-in-out;
}